In [1]:
import pandas as pd
import numpy as np
import python_functions_sp as pfsp
import warnings
warnings.filterwarnings("ignore")
import sqlalchemy
import psycopg2
import sql_functions_sp as sfsp

In [2]:
# schema = 'capstone_health_education'
# GHED_data_or_filtered = sfsp.get_dataframe(f'SELECT * FROM {schema}."GHED_data_or_filtered"')

In [3]:
%store -r GHED_data_or_filtered

## Splitting the countries into the continents
- northern america
- southern america
- europe (4 parts for further analysis)
- africa
- asia
- pacific
- middle-east

Creating a copy with a meaningful name:

In [4]:
GHED_continents = GHED_data_or_filtered.copy()

In [5]:
GHED_continents = GHED_continents.drop('region', axis=1)

In [6]:
# check if it worked
GHED_continents

       country code        income  year  che_gdp  che_pc_usd
0      Algeria  DZA  Lower-middle  2000     3.49       62.12
1      Algeria  DZA  Lower-middle  2001     3.84       67.34
2      Algeria  DZA  Lower-middle  2002     3.73       66.95
3      Algeria  DZA  Lower-middle  2003     3.60       76.24
4      Algeria  DZA  Lower-middle  2004     3.54       93.02
...        ...  ...           ...   ...      ...         ...
4239  Viet Nam  VNM  Lower-middle  2017     4.99      149.31
4240  Viet Nam  VNM  Lower-middle  2018     5.03      164.24
4241  Viet Nam  VNM  Lower-middle  2019     4.97      173.65
4242  Viet Nam  VNM  Lower-middle  2020     4.30      154.24
4243  Viet Nam  VNM  Lower-middle  2021     4.59      172.55

[4244 rows x 6 columns]

---

Assigning the continent to the countries in a new created column:

In [7]:
GHED_continents['continent'] = GHED_continents['country'].apply(pfsp.assign_continent)

Assigning the four parts of europe to the countries in another new created column:

In [8]:
GHED_continents['continent_region'] = GHED_continents['country'].apply(pfsp.assign_europe_region)

In [9]:
GHED_continents.sample(10)

,country,code,income,year,che_gdp,che_pc_usd,continent,continent_region
1597,Paraguay,PRY,Upper-middle,2011,5.82,336.12,South America,South America
3880,Marshall Islands,MHL,Upper-middle,2012,13.04,452.07,Other,Other
1220,Chile,CHL,High,2009,7.25,738.28,South America,South America
2432,Bulgaria,BGR,Upper-middle,2009,6.60,459.00,Europe,East Europe
4242,Viet Nam,VNM,Lower-middle,2020,4.30,154.24,Pacific,Pacific
799,Sao Tome and Principe,STP,Lower-middle,2007,8.20,69.87,Africa,Africa
239,Comoros,COM,Lower-middle,2019,5.18,77.80,Africa,Africa
2951,Montenegro,MNE,Upper-middle,2013,8.47,596.00,Europe,South Europe
1647,Saint Kitts and Nevis,KNA,High,2017,5.26,1167.66,South America,South America
2238,Yemen,YEM,Low,2013,4.96,74.30,Asia,Asia

Changing the order of the columns:

In [10]:
columns = [ 'code','country', 'continent', 'continent_region', 'income', 'year', 'che_gdp', 'che_pc_usd']

GHED_continents = GHED_continents[columns]

Checking the result:

In [11]:
GHED_continents.sample(10)

,code,country,continent,continent_region,income,year,che_gdp,che_pc_usd
4165,TON,Tonga,Other,Other,Upper-middle,2009,3.93,117.48
775,RWA,Rwanda,Africa,Africa,Low,2005,7.73,25.10
876,SLE,Sierra Leone,Africa,Africa,Low,2018,8.29,43.08
73,BWA,Botswana,Africa,Africa,Upper-middle,2007,5.52,296.57
650,MRT,Mauritania,Africa,Africa,Lower-middle,2012,2.65,49.02
1052,ATG,Antigua and Barbuda,South America,South America,High,2018,4.85,849.83
1337,DOM,Dominican Republic,South America,South America,Upper-middle,2015,4.72,322.95
3741,COK,Cook Islands,Other,Other,High,2005,3.91,513.76
3065,PRT,Portugal,Europe,South Europe,High,2015,9.32,1791.00
1738,TTO,Trinidad and Tobago,South America,South America,High,2020,7.54,1045.73

Check if some countries couldn't be assigned to a continent:

In [12]:
GHED_continents[GHED_continents['continent'] == 'Other']['country'].unique()

array(['Maldives', 'Cook Islands', 'Kiribati', 'Marshall Islands',
       'Nauru', 'Niue', 'Palau', 'Samoa', 'Solomon Islands', 'Tonga',
       'Tuvalu', 'Vanuatu'], dtype=object)

In [13]:
GHED_continents[GHED_continents['continent_region'] == 'Other']['country'].unique()

array(['Maldives', 'Cook Islands', 'Kiribati', 'Marshall Islands',
       'Nauru', 'Niue', 'Palau', 'Samoa', 'Solomon Islands', 'Tonga',
       'Tuvalu', 'Vanuatu'], dtype=object)

---

Check if the new created columns match:

In [14]:
pfsp.check_values(GHED_continents)

All values match.

---

Writing the table into the database:

In [15]:
# sfsp.push_to_cloud(GHED_continents, 'ghed_continents')

In [16]:
ghed_continents = GHED_continents

%store ghed_continents

Stored 'ghed_continents' (DataFrame)