In [1]:
import pandas as pd
import numpy as np
import python_functions_sp as pfsp
import sql_functions_sp as sfsp
import warnings
warnings.filterwarnings("ignore")
import sqlalchemy
import psycopg2
import sql_functions_sp as sf

# Import

In [2]:
# overview = pd.read_excel('data/statistic_id238733_per-student-expenditure-on-educational-institutions-in-oecd-countries-2020.xlsx')
expenditure_education_2020 = pd.read_excel('data/statistic_id238733_per-student-expenditure-on-educational-institutions-in-oecd-countries-2020.xlsx', sheet_name='Data', header=4)

In [3]:
expenditure_education_2020 = expenditure_education_2020.drop('Unnamed: 0', axis=1)

# Column names

In [4]:
pfsp.columns_lower_snake_case_4(expenditure_education_2020)

,unnamed:_1,primary_education,secondary_education,tertiary_education
0,Luxembourg,22990,26617,53421
1,Norway,15631,17229,24374
2,Iceland,15206,15242,16128
3,United States,14321,16018,36172
4,Denmark,14273,14125,23432
5,Austria,14029,17478,21753
6,Sweden,13997,13902,26215
7,Korea,13278,17038,12225
8,Belgium,12813,16576,22555
9,Australia,12673,15437,22204
10,United Kingdom,12513,13695,29534
11,Italy,12008,10659,12663
12,Poland,11872,8485,14488
13,Germany,11587,15614,20760
14,Canada,11533,14520,24363
15,Finland,11212,12849,19583
16,Netherlands,11188,15848,21642
17,Slovenia,10714,10450,17795
18,OECD average,10658,11942,18105
19,Estonia,10309,8522,17930
20,Israel,10182,9562,12314
21,Japan,10057,12047,19676
22,France,9673,13874,18880
23,Ireland,9589,11379,17400
24,Portugal,9340,11358,12104
25,Spain,9077,11159,14361
26,Slovak Republic,8853,8546,14637
27,Czech Republic,8466,12579,16237
28,New Zealand,8438,10223,19567
29,Lithuania,8173,8426,13629
30,Hungary,7928,7772,12098
31,Greece,7467,6901,4300
32,Latvia,7142,8302,13043
33,Chile,5917,5868,10458
34,Colombia,4364,4341,4981
35,Turkey,4108,4603,9288
36,Mexico,2750,2770,5887

In [5]:
expenditure_education_2020.rename(columns={'unnamed:_1': 'country'}, inplace=True)

# Assign continent to country

Assigning the continent to the countries in a new created column:

In [6]:
expenditure_education_2020['continent'] = expenditure_education_2020['country'].apply(pfsp.assign_continent)

Assigning the four parts of europe to the countries in another new created column:

In [7]:
expenditure_education_2020['continent_region'] = expenditure_education_2020['country'].apply(pfsp.assign_europe_region)

Changing the order of the columns:

In [8]:
expenditure_education_2020.columns

Index(['country', 'primary_education', 'secondary_education',
       'tertiary_education', 'continent', 'continent_region'],
      dtype='object')

In [9]:
columns = ['country', 'continent', 'continent_region', 'primary_education', 'secondary_education', 'tertiary_education']

expenditure_education_2020 = expenditure_education_2020[columns]

Check if some countries couldn't be assigned to a continent:

In [10]:
expenditure_education_2020[expenditure_education_2020['continent'] == 'Other']['country'].unique()

array(['OECD average'], dtype=object)

In [11]:
expenditure_education_2020[expenditure_education_2020['continent_region'] == 'Other']['country'].unique()

array(['OECD average'], dtype=object)

Check if the new created columns match:

In [12]:
pfsp.check_values(expenditure_education_2020)

All values match.

---

In [13]:
expenditure_education_2020

,country,continent,continent_region,primary_education,secondary_education,tertiary_education
0,Luxembourg,Europe,West Europe,22990,26617,53421
1,Norway,Europe,North Europe,15631,17229,24374
2,Iceland,Europe,North Europe,15206,15242,16128
3,United States,North America,North America,14321,16018,36172
4,Denmark,Europe,North Europe,14273,14125,23432
5,Austria,Europe,West Europe,14029,17478,21753
6,Sweden,Europe,North Europe,13997,13902,26215
7,Korea,Pacific,Pacific,13278,17038,12225
8,Belgium,Europe,West Europe,12813,16576,22555
9,Australia,Pacific,Pacific,12673,15437,22204
10,United Kingdom,Europe,North Europe,12513,13695,29534
11,Italy,Europe,South Europe,12008,10659,12663
12,Poland,Europe,East Europe,11872,8485,14488
13,Germany,Europe,West Europe,11587,15614,20760
14,Canada,North America,North America,11533,14520,24363
15,Finland,Europe,North Europe,11212,12849,19583
16,Netherlands,Europe,West Europe,11188,15848,21642
17,Slovenia,Europe,South Europe,10714,10450,17795
18,OECD average,Other,Other,10658,11942,18105
19,Estonia,Europe,North Europe,10309,8522,17930
20,Israel,Asia,Asia,10182,9562,12314
21,Japan,Pacific,Pacific,10057,12047,19676
22,France,Europe,West Europe,9673,13874,18880
23,Ireland,Europe,North Europe,9589,11379,17400
24,Portugal,Europe,South Europe,9340,11358,12104
25,Spain,Europe,South Europe,9077,11159,14361
26,Slovak Republic,Europe,East Europe,8853,8546,14637
27,Czech Republic,Europe,East Europe,8466,12579,16237
28,New Zealand,Pacific,Pacific,8438,10223,19567
29,Lithuania,Europe,North Europe,8173,8426,13629
30,Hungary,Europe,East Europe,7928,7772,12098
31,Greece,Europe,South Europe,7467,6901,4300
32,Latvia,Europe,North Europe,7142,8302,13043
33,Chile,South America,South America,5917,5868,10458
34,Colombia,South America,South America,4364,4341,4981
35,Turkey,Asia,Asia,4108,4603,9288
36,Mexico,South America,South America,2750,2770,5887

---
---

# Writing the table into the database

In [14]:
sfsp.push_to_cloud(expenditure_education_2020, 'expenditure_education_2020')

The expenditure_education_2020 table was imported successfully.

# Store the DataFrames

In [15]:
%store expenditure_education_2020

Stored 'expenditure_education_2020' (DataFrame)