In [1]:
import pandas as pd

In [2]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [3]:
#corrup = pd.read_excel('data/Percentage_corruption_control.xlsx')

In [3]:
corrup_world = pd.read_excel('data/CPI time series-2.xlsx')

### A country’s score is the perceived level of public sector corruption on a scale of 0-100, where 0 means highly corrupt and 100 means very clean. ###

In [4]:
corrup_world.head()

,Country / Territory,ISO3,Region,CPI score 2023,Rank 2023,Sources 2023,Standard error 2023,CPI score 2022,Rank 2022,Sources 2022,...,Standard error 2015,CPI score 2014,Sources 2014,Standard error 2014,CPI Score 2013,Sources 2013,Standard error 2013,CPI Score 2012,Sources 2012,Standard error 2012
0,Afghanistan,AFG,AP,20.0,162.0,5.0,6.244771,24.0,150.0,4.0,...,3.49,12.0,4.0,1.29,8.0,3.0,3.3,8.0,3.0,3.3
1,Albania,ALB,ECA,37.0,98.0,7.0,1.560074,36.0,101.0,8.0,...,3.58,33.0,7.0,1.51,31.0,7.0,2.1,33.0,7.0,2.0
2,Algeria,DZA,MENA,36.0,104.0,7.0,2.327238,33.0,116.0,6.0,...,1.85,36.0,5.0,2.06,36.0,6.0,2.8,34.0,6.0,3.3
3,Angola,AGO,SSA,33.0,121.0,7.0,2.813869,33.0,116.0,7.0,...,1.80,19.0,6.0,1.71,23.0,7.0,2.8,22.0,7.0,1.8
4,Argentina,ARG,AME,37.0,98.0,8.0,2.046685,38.0,94.0,7.0,...,1.84,34.0,7.0,2.42,34.0,8.0,2.4,35.0,8.0,2.6

In [7]:
corrup_world.columns = corrup_world.columns.str.lower()

In [10]:
corrup_world.columns = corrup_world.columns.str.replace(' ', '_')

In [13]:
corrup_world.rename(columns = {'country_/_territory': 'country'}, inplace=True)

In [14]:
corrup_world

,country,iso3,region,cpi_score_2023,rank_2023,sources_2023,standard_error_2023,cpi_score_2022,rank_2022,sources_2022,...,standard_error_2015,cpi_score_2014,sources_2014,standard_error_2014,cpi_score_2013,sources_2013,standard_error_2013,cpi_score_2012,sources_2012,standard_error_2012
0,Afghanistan,AFG,AP,20.0,162.0,5.0,6.244771,24.0,150.0,4.0,...,3.49,12.0,4.0,1.29,8.0,3.0,3.3,8.0,3.0,3.3
1,Albania,ALB,ECA,37.0,98.0,7.0,1.560074,36.0,101.0,8.0,...,3.58,33.0,7.0,1.51,31.0,7.0,2.1,33.0,7.0,2.0
2,Algeria,DZA,MENA,36.0,104.0,7.0,2.327238,33.0,116.0,6.0,...,1.85,36.0,5.0,2.06,36.0,6.0,2.8,34.0,6.0,3.3
3,Angola,AGO,SSA,33.0,121.0,7.0,2.813869,33.0,116.0,7.0,...,1.80,19.0,6.0,1.71,23.0,7.0,2.8,22.0,7.0,1.8
4,Argentina,ARG,AME,37.0,98.0,8.0,2.046685,38.0,94.0,7.0,...,1.84,34.0,7.0,2.42,34.0,8.0,2.4,35.0,8.0,2.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,Venezuela,VEN,AME,13.0,177.0,8.0,1.226027,14.0,177.0,8.0,...,2.64,19.0,7.0,1.69,20.0,7.0,2.3,19.0,7.0,2.1
177,Vietnam,VNM,AP,41.0,83.0,8.0,1.399817,42.0,77.0,8.0,...,2.56,31.0,8.0,2.55,31.0,8.0,2.6,31.0,8.0,2.5
178,Yemen,YEM,MENA,16.0,176.0,7.0,1.753443,16.0,176.0,7.0,...,2.66,19.0,6.0,2.37,18.0,6.0,2.6,23.0,6.0,2.2
179,Zambia,ZMB,SSA,37.0,98.0,8.0,2.055679,33.0,116.0,9.0,...,2.55,38.0,8.0,2.27,38.0,8.0,2.1,37.0,8.0,3.1
180,Zimbabwe,ZWE,SSA,24.0,149.0,9.0,1.301722,23.0,157.0,8.0,...,4.54,21.0,8.0,4.18,21.0,8.0,4.3,20.0,8.0,4.3

In [18]:
# Columns to keep
columns_to_keep = ['country', 'cpi_score_2023', 'rank_2023', 'cpi_score_2022', 'rank_2022',
 'cpi_score_2021', 'rank_2021', 'cpi_score_2020', 'rank_2020', 'cpi_score_2019', 'rank_2019',
 'cpi_score_2018', 'rank_2018', 'cpi_score_2017', 'rank_2017', 'cpi_score_2016',
 'cpi_score_2015', 'cpi_score_2014', 'cpi_score_2013', 
 'cpi_score_2012']

# Filter the DataFrame to keep only the specified columns
corrup_world = corrup_world[columns_to_keep]

In [20]:
corrup_world.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         181 non-null    object
 1   cpi_score_2023  180 non-null    float64
 2   rank_2023       180 non-null    float64
 3   cpi_score_2022  180 non-null    float64
 4   rank_2022       180 non-null    float64
 5   cpi_score_2021  180 non-null    float64
 6   rank_2021       180 non-null    float64
 7   cpi_score_2020  180 non-null    float64
 8   rank_2020       180 non-null    float64
 9   cpi_score_2019  180 non-null    float64
 10  rank_2019       180 non-null    float64
 11  cpi_score_2018  180 non-null    float64
 12  rank_2018       180 non-null    float64
 13  cpi_score_2017  180 non-null    float64
 14  rank_2017       180 non-null    float64
 15  cpi_score_2016  176 non-null    float64
 16  cpi_score_2015  168 non-null    float64
 17  cpi_score_2014  174 non-null    float64
 18  cpi_score_2013  176 non-null    float64
 19  cpi_score_2012  175 non-null    float64
dtypes: float64(19), object(1)
memory usage: 28.4+ KB

In [21]:
corrup_world

,country,cpi_score_2023,rank_2023,cpi_score_2022,rank_2022,cpi_score_2021,rank_2021,cpi_score_2020,rank_2020,cpi_score_2019,rank_2019,cpi_score_2018,rank_2018,cpi_score_2017,rank_2017,cpi_score_2016,cpi_score_2015,cpi_score_2014,cpi_score_2013,cpi_score_2012
0,Afghanistan,20.0,162.0,24.0,150.0,16.0,174.0,19.0,165.0,16.0,173.0,16.0,172.0,15.0,177.0,15.0,11.0,12.0,8.0,8.0
1,Albania,37.0,98.0,36.0,101.0,35.0,110.0,36.0,104.0,35.0,106.0,36.0,99.0,38.0,91.0,39.0,36.0,33.0,31.0,33.0
2,Algeria,36.0,104.0,33.0,116.0,33.0,117.0,36.0,104.0,35.0,106.0,35.0,105.0,33.0,112.0,34.0,36.0,36.0,36.0,34.0
3,Angola,33.0,121.0,33.0,116.0,29.0,136.0,27.0,142.0,26.0,146.0,19.0,165.0,19.0,167.0,18.0,15.0,19.0,23.0,22.0
4,Argentina,37.0,98.0,38.0,94.0,38.0,96.0,42.0,78.0,45.0,66.0,40.0,85.0,39.0,85.0,36.0,32.0,34.0,34.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,Venezuela,13.0,177.0,14.0,177.0,14.0,177.0,15.0,176.0,16.0,173.0,18.0,168.0,18.0,169.0,17.0,17.0,19.0,20.0,19.0
177,Vietnam,41.0,83.0,42.0,77.0,39.0,87.0,36.0,104.0,37.0,96.0,33.0,117.0,35.0,107.0,33.0,31.0,31.0,31.0,31.0
178,Yemen,16.0,176.0,16.0,176.0,16.0,174.0,15.0,176.0,15.0,177.0,14.0,176.0,16.0,175.0,14.0,18.0,19.0,18.0,23.0
179,Zambia,37.0,98.0,33.0,116.0,33.0,117.0,33.0,117.0,34.0,113.0,35.0,105.0,37.0,96.0,38.0,38.0,38.0,38.0,37.0
180,Zimbabwe,24.0,149.0,23.0,157.0,23.0,157.0,24.0,157.0,24.0,158.0,22.0,160.0,22.0,157.0,22.0,21.0,21.0,21.0,20.0

### melting the dataframe and extracting years from cpi score column ###

In [26]:
# Melt the DataFrame to long format
corrup_world_long = pd.melt(corrup_world, id_vars=['country'], var_name='metric_year', value_name='value')

In [27]:
corrup_world_long

          country     metric_year  value
0     Afghanistan  cpi_score_2023   20.0
1         Albania  cpi_score_2023   37.0
2         Algeria  cpi_score_2023   36.0
3          Angola  cpi_score_2023   33.0
4       Argentina  cpi_score_2023   37.0
...           ...             ...    ...
3434    Venezuela  cpi_score_2012   19.0
3435      Vietnam  cpi_score_2012   31.0
3436        Yemen  cpi_score_2012   23.0
3437       Zambia  cpi_score_2012   37.0
3438     Zimbabwe  cpi_score_2012   20.0

[3439 rows x 3 columns]

In [28]:
# Extract the year from the metric_year column
corrup_world_long['year'] = corrup_world_long['metric_year'].str.extract('(\d{4})')[0]

In [29]:
corrup_world_long

          country     metric_year  value  year
0     Afghanistan  cpi_score_2023   20.0  2023
1         Albania  cpi_score_2023   37.0  2023
2         Algeria  cpi_score_2023   36.0  2023
3          Angola  cpi_score_2023   33.0  2023
4       Argentina  cpi_score_2023   37.0  2023
...           ...             ...    ...   ...
3434    Venezuela  cpi_score_2012   19.0  2012
3435      Vietnam  cpi_score_2012   31.0  2012
3436        Yemen  cpi_score_2012   23.0  2012
3437       Zambia  cpi_score_2012   37.0  2012
3438     Zimbabwe  cpi_score_2012   20.0  2012

[3439 rows x 4 columns]

In [30]:
# Extract the metric type (e.g., cpi_score, rank) from the metric_year column
corrup_world_long['metric'] = corrup_world_long['metric_year'].str.replace('_[0-9]{4}', '')

In [31]:
corrup_world_long

          country     metric_year  value  year     metric
0     Afghanistan  cpi_score_2023   20.0  2023  cpi_score
1         Albania  cpi_score_2023   37.0  2023  cpi_score
2         Algeria  cpi_score_2023   36.0  2023  cpi_score
3          Angola  cpi_score_2023   33.0  2023  cpi_score
4       Argentina  cpi_score_2023   37.0  2023  cpi_score
...           ...             ...    ...   ...        ...
3434    Venezuela  cpi_score_2012   19.0  2012  cpi_score
3435      Vietnam  cpi_score_2012   31.0  2012  cpi_score
3436        Yemen  cpi_score_2012   23.0  2012  cpi_score
3437       Zambia  cpi_score_2012   37.0  2012  cpi_score
3438     Zimbabwe  cpi_score_2012   20.0  2012  cpi_score

[3439 rows x 5 columns]

In [32]:
# Drop the original metric_year column
corrup_world_long = corrup_world_long.drop(columns=['metric_year'])

In [34]:
corrup_world_long

          country  value  year     metric
0     Afghanistan   20.0  2023  cpi_score
1         Albania   37.0  2023  cpi_score
2         Algeria   36.0  2023  cpi_score
3          Angola   33.0  2023  cpi_score
4       Argentina   37.0  2023  cpi_score
...           ...    ...   ...        ...
3434    Venezuela   19.0  2012  cpi_score
3435      Vietnam   31.0  2012  cpi_score
3436        Yemen   23.0  2012  cpi_score
3437       Zambia   37.0  2012  cpi_score
3438     Zimbabwe   20.0  2012  cpi_score

[3439 rows x 4 columns]

In [35]:
# Specify the new column order
new_column_order = ['country', 'year', 'metric', 'value']
# Reassign the DataFrame with the new column order
corrup_world_long = corrup_world_long[new_column_order]

In [36]:
corrup_world_long

          country  year     metric  value
0     Afghanistan  2023  cpi_score   20.0
1         Albania  2023  cpi_score   37.0
2         Algeria  2023  cpi_score   36.0
3          Angola  2023  cpi_score   33.0
4       Argentina  2023  cpi_score   37.0
...           ...   ...        ...    ...
3434    Venezuela  2012  cpi_score   19.0
3435      Vietnam  2012  cpi_score   31.0
3436        Yemen  2012  cpi_score   23.0
3437       Zambia  2012  cpi_score   37.0
3438     Zimbabwe  2012  cpi_score   20.0

[3439 rows x 4 columns]

In [38]:
corrup_score = corrup_world_long

In [39]:
corrup_score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3439 entries, 0 to 3438
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  3439 non-null   object
 1   year     3439 non-null   object
 2   metric   3439 non-null   object
 3   value    3389 non-null   float64
dtypes: float64(1), object(3)
memory usage: 107.6+ KB

### Push to cloud ###

In [37]:
import pandas as pd
import numpy as np
import python_functions_sp as pfsp
import warnings
warnings.filterwarnings("ignore")
import sqlalchemy
import psycopg2
import sql_functions_sp as sfsp

In [40]:
schema = 'capstone_health_education'

In [41]:
sfsp.push_to_cloud(corrup_score, 'corrup_score')

The corrup_score table was imported successfully.

In [ ]:
# Import get_dataframe from sql_functions.py
from sql_functions import get_dataframe
#from sql_functions import get_engine

In [ ]:
# schema = 'capstone_health_education'
# sql_1 = f'SELECT * FROM {schema}.syb_public_expenditure_on_education_continents'
# syb_expend_edu = get_dataframe(sql_1)

In [ ]:
syb_expend_edu.info()

In [ ]:
# schema = 'capstone_health_education'
# sql_2 = f'SELECT * FROM {schema}.syb_expenditure_on_health_continents'
# syb_expend_health = get_dataframe(sql_2)