In [1]:
import pandas as pd

In [2]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [15]:
corrup = pd.read_excel('data/Percentage_corruption_control.xlsx')

In [18]:
# Import get_dataframe from sql_functions.py
from sql_functions import get_dataframe
#from sql_functions import get_engine

In [19]:
schema = 'capstone_health_education'
sql_1 = f'SELECT * FROM {schema}.syb_public_expenditure_on_education_continents'
syb_expend_edu = get_dataframe(sql_1)

In [20]:
syb_expend_edu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 978 entries, 0 to 977
Data columns (total 11 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   country                                                          978 non-null    object
 1   continent                                                        978 non-null    object
 2   continent_region                                                 978 non-null    object
 3   year                                                             978 non-null    object
 4   all_staff_compensation_as_perc_of_total_expenditure_in_public_i  437 non-null    object
 5   basic_access_to_computers_by_level_of_education_lower_secondary  248 non-null    object
 6   basic_access_to_computers_by_level_of_education_primary          324 non-null    object
 7   basic_access_to_computers_by_level_of_education_upper_secondary  250 non-null    object
 8   capital_expenditure_as_perc_of_total_expenditure_in_public_inst  448 non-null    object
 9   current_expenditure_other_than_staff_compensation_as_perc_of_to  430 non-null    object
 10  public_expenditure_on_education_perc_of_gdp                      883 non-null    object
dtypes: object(11)
memory usage: 84.2+ KB

In [21]:
schema = 'capstone_health_education'
sql_2 = f'SELECT * FROM {schema}.syb_expenditure_on_health_continents'
syb_expend_health = get_dataframe(sql_2)

In [22]:
syb_expend_health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1133 entries, 0 to 1132
Data columns (total 6 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   country                                                          1133 non-null   object
 1   continent                                                        1133 non-null   object
 2   continent_region                                                 1133 non-null   object
 3   year                                                             1133 non-null   object
 4   current_health_expenditure_perc_of_gdp                           1129 non-null   object
 5   domestic_general_government_health_expenditure_perc_of_total_go  1133 non-null   object
dtypes: object(6)
memory usage: 53.2+ KB

In [16]:
corrup.head()

,Unnamed: 0,Unnamed: 1,2010.0,2010.0.1,2010.0.2,2010.0.3,2010.0.4,2010.0.5,2011.0,2011.0.1,...,2021.0.2,2021.0.3,2021.0.4,2021.0.5,2022.0,2022.0.1,2022.0.2,2022.0.3,2022.0.4,2022.0.5
0,Country/Territory,Code,Estimate,StdErr,NumSrc,Rank,Lower,Upper,Estimate,StdErr,...,NumSrc,Rank,Lower,Upper,Estimate,StdErr,NumSrc,Rank,Lower,Upper
1,Aruba,ABW,1.121296,0.292717,2.0,83.333336,72.380951,91.904762,1.102947,0.296301,...,2.0,78.571426,62.857143,89.047623,0.756785,0.31725,2.0,77.830185,60.849056,88.679245
2,Andorra,ADO,1.301773,0.430663,1.0,88.095238,71.904762,94.761902,1.272298,0.41817,...,1.0,88.571426,70.0,96.666664,1.270204,0.463415,1.0,88.679245,68.396225,97.169815
3,Afghanistan,AFG,-1.645391,0.195123,9.0,0.952381,0.0,3.809524,-1.600471,0.195457,...,8.0,12.380953,4.761905,20.952381,-1.183776,0.17332,8.0,12.264151,4.716981,20.283018
4,Angola,AGO,-1.332475,0.160683,12.0,3.809524,0.952381,14.285714,-1.367469,0.158418,...,10.0,29.047619,19.523809,40.476189,-0.601941,0.160003,10.0,30.660378,21.226416,43.396225

In [17]:
corrup.shape

(215, 80)

In [23]:
syb_expend_edu.head()

,country,continent,continent_region,year,all_staff_compensation_as_perc_of_total_expenditure_in_public_i,basic_access_to_computers_by_level_of_education_lower_secondary,basic_access_to_computers_by_level_of_education_primary,basic_access_to_computers_by_level_of_education_upper_secondary,capital_expenditure_as_perc_of_total_expenditure_in_public_inst,current_expenditure_other_than_staff_compensation_as_perc_of_to,public_expenditure_on_education_perc_of_gdp
0,Afghanistan,Asia,Asia,2010,72.4,None,None,None,18.3,9.3,3.5
1,Afghanistan,Asia,Asia,2015,71.4,None,None,None,19.6,9.0,3.3
2,Afghanistan,Asia,Asia,2019,None,10,9.0,23,None,None,3.2
3,Afghanistan,Asia,Asia,2020,None,None,None,None,None,None,2.9
4,Albania,Europe,South Europe,2005,None,None,None,None,None,None,3.3

In [24]:
syb_expend_health.head()

,country,continent,continent_region,year,current_health_expenditure_perc_of_gdp,domestic_general_government_health_expenditure_perc_of_total_go
0,Afghanistan,Asia,Asia,2005,9.9,3.4
1,Afghanistan,Asia,Asia,2010,8.6,2.3
2,Afghanistan,Asia,Asia,2015,10.1,2.0
3,Afghanistan,Asia,Asia,2018,14.2,1.9
4,Afghanistan,Asia,Asia,2019,14.8,1.8