In [ ]:
import pandas as pd

In [ ]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [ ]:
hbsc_2018 = pd.read_csv('data/HBSC2018OAed1.csv', low_memory=False)

In [ ]:
hbsc_2018.iloc[:, : 20]

In [ ]:
hbsc_2018.head()

In [ ]:
dict(hbsc_2018.dtypes)

In [ ]:
#keeping interesting variables#
#columns_to_drop = ['HBSC', 'seqno_int', 'cluster', 'fruits_2', 'vegetables_2', 'sweets_2', 'softdrinks_2', 'toothbr',  'monthbirth', 'grade', 'yearbirth', 'region', 'id1', 'id2', 'id3', 'id4', 'adm', 'month', 'fasfamcar', 'fasbedroom', 'fascomputers', 'fasbathroom', 'fasdishwash', 'fasholidays', 'bulliedothers', 'beenbullied', 'cbulliedothers', 'cbeenbullied', 'friendhelp', 'friendcounton', 'friendshare', 'friendtalk', 'emconlfreq1', 'emconlfreq2', 'emconlfreq3', 'emconlfreq4', 'emconlpref1', 'emconlpref2', 'emconlpref3', 'grade', 'hadsex', 'agesex', 'contraceptcondom', 'contraceptpill', 'countryborn', 'countrybornmo', 'countrybornfa',  'motherhome1', 'fatherhome1', 'stepmohome1', 'stepfahome1', 'fosterhome1', 'elsehome1_2', 'talkfather', 'talkstepfa', 'talkmother', 'talkstepmo', 'famhelp', 'famsup', 'famtalk', 'famdec', 'MBMI', 'IRFAS', 'oweight_who' ]
#hbsc_2018_short = hbsc_2018.drop(columns=columns_to_drop)

In [ ]:
hbsc_2018 = hbsc_2018[['id4', 'countryno', 'age', 'agecat', 'sex', 'health', 'lifesat', 'headache', 'stomachache', 'backache', 'feellow', 'irritable', 'nervous', 'sleepdificulty', 'dizzy', 'thinkbody', 'physact60', 'timeexe', 'smokltm', 'smok30d_2', 'alcltm', 'alc30d_2', 'bodyweight', 'bodyheight', 'likeschool', 'schoolpressure', 'studaccept', 'teacheraccept', 'bulliedothers', 'beenbullied', 'emcsocmed1', 'emcsocmed2', 'emcsocmed3', 'emcsocmed4', 'emcsocmed5', 'emcsocmed6', 'emcsocmed7', 'emcsocmed8', 'emcsocmed9', 'employmo', 'employfa', 'employnotfa', 'employnotmo', 'MBMI', 'IRRELFAS_LMH'  ]]

In [ ]:
# Format to display without exponential notation and round it
pd.options.display.float_format = '{:.1f}'.format

In [ ]:
hbsc_2018.info()

In [ ]:
# no duplicates
hbsc_2018.duplicated().value_counts()

#### Bringing NaNs into format ####

In [ ]:
list_of_objects = ['countryno', 'bodyweight', 'bodyheight', 'likeschool', 'schoolpressure', 'studaccept', 'teacheraccept', 'bulliedothers', 'beenbullied', 'emcsocmed1', 'emcsocmed2', 'emcsocmed3', 'emcsocmed4', 'emcsocmed5', 'emcsocmed6', 'emcsocmed7', 'emcsocmed8', 'emcsocmed9', 'employmo', 'employfa', 'employnotfa', 'employnotmo', 'MBMI', 'IRRELFAS_LMH' ]

hbsc_2018[list_of_objects] = hbsc_2018[list_of_objects].apply(pd.to_numeric, errors='coerce')

### DEMOGRAPHICS ###

In [ ]:
hbsc_2018['id4'].isna().sum()

In [ ]:
hbsc_2018['countryno'].unique()

In [ ]:
#Creating a new column containing country names#
country_names = {
    8000: 'Albania',
    31000:'Azerbaijan',
    40000: 'Austria',
    51000: 'Armenia',
    56001: 'Belgium (Flemish)',
    56002: 'Belgium (French)',
    100000: 'Bulgaria',
    124000: 'Canada',
    191000: 'Croatia',
    203000: 'Czech Republic',
    208000: 'Denmark',
    233000: 'Estonia',
    246000: 'Finland',
    250000: 'France',
    268000: 'Georgia',
    276000: 'Germany',
    300000: 'Greece',
    304000: 'Greenland',
    348000: 'Hungary',
    352000: 'Iceland',
    372000: 'Ireland',
    376000: 'Israel',
    380000: 'Italy',
    398000: 'Kazakhstan',
    440000: 'Lithuania',
    428000: 'Latvia',
    442000: 'Luxembourg',
    470000: 'Malta',
    498000: 'Republic of Moldova',
    528000: 'Netherlands',
    578000: 'Norway',
    616000: 'Poland',
    620000: 'Portugal',
    642000: 'Romania',
    643000: 'Russia',
    688000: 'Serbia',
    703000: 'Slovakia',
    705000: 'Slovenia',
    724000: 'Spain',
    752000: 'Sweden',
    756000: 'Switzerland',
    792000: 'Turkey',
    804000: 'Ukraine',
    807000: 'Macedonia',
    826001: 'England',
    826002: 'Scotland',
    826003: 'Wales',
    826004: 'Northern Ireland',
    840000: 'USA'
    
    }

In [ ]:
hbsc_2018['country_name'] = hbsc_2018['countryno'].map(country_names)

In [ ]:
hbsc_2018['country_name'].value_counts()

In [ ]:
#hbsc_2018['country_name']= pd.Categorical(hbsc_2018['country_name'])

In [ ]:
hbsc_2018['country_name'].value_counts()

In [ ]:
hbsc_2018['country_name'].isna().sum()

In [ ]:
hbsc_2018 = hbsc_2018.drop(['countryno'], axis=1)

In [ ]:
hbsc_2018.head()

In [ ]:
hbsc_2018['age'] = hbsc_2018['age'].apply(pd.to_numeric, errors='coerce')

In [ ]:
hbsc_2018['age'].dtype

In [ ]:
hbsc_2018['age'].describe()

In [ ]:
hbsc_2018['age']

In [ ]:
hbsc_2018['age'].isna().sum()

In [ ]:
hbsc_2018['agecat'].dtype

In [ ]:
hbsc_2018['agecat'] = hbsc_2018['agecat'].apply(pd.to_numeric, errors='coerce')

In [ ]:
hbsc_2018['agecat'].describe()

In [ ]:
hbsc_2018['agecat'].isna().sum()

In [ ]:
hbsc_2018['agecat'].value_counts()

In [ ]:
#hbsc_2018['agecat']= pd.Categorical(hbsc_2018['agecat'])

In [ ]:
hbsc_2018['agecat'].value_counts().plot(kind='bar')

In [ ]:
hbsc_2018['sex']

In [ ]:
hbsc_2018['sex'].dtype

In [ ]:
#1=male, 2=female
hbsc_2018['sex'].describe()

In [ ]:
hbsc_2018['sex'].isna().sum()

In [ ]:
#hbsc_2018['gender'] = pd.Categorical(hbsc_2018['sex'])

In [ ]:
#hbsc_2018['gender'] = hbsc_2018['gender'].map({1:'M',2:'F'})

In [ ]:
#hbsc_2018['gender'].value_counts().plot(kind='bar')

### HEALTH-RELATED DATA ###

#### Would you say your health is...? 1= excellent, 2= good, 3= fair, 4= poor ####

In [ ]:
hbsc_2018['health'].unique

In [ ]:
hbsc_2018['health'] = hbsc_2018['health'].apply(pd.to_numeric, errors='coerce')

In [ ]:
hbsc_2018['health'].value_counts()

In [ ]:
#hbsc_2018['health']= pd.Categorical(hbsc_2018['health'])

In [ ]:
hbsc_2018['health'].isna().sum()

#### Life satisfaction: Here is a picture of a ladder. The top of the ladder “10” is the best possible life for you and the bottom “0” is the worst possible life for you. In general, where on the ladder do you feel you stand at the moment? ####

In [ ]:
hbsc_2018['lifesat']

In [ ]:
hbsc_2018['lifesat'] = hbsc_2018['lifesat'].apply(pd.to_numeric, errors='coerce')

In [ ]:
hbsc_2018['lifesat'].describe()

In [ ]:
hbsc_2018['lifesat'].isna().sum()

In [ ]:
hbsc_2018.hist(column='lifesat')

#### Headache: In the last 6 months: how often have you had the following....? ####

#### 1 = about every day, 2 = more once/week, 3 = about every week, 4 = about every month, 5 = rarely or never ####

In [ ]:
hbsc_2018.headache

In [ ]:
hbsc_2018['headache'] = hbsc_2018['headache'].apply(pd.to_numeric, errors='coerce')

In [ ]:
#hbsc_2018['headache']

In [ ]:
#hbsc_2018['headache']= pd.Categorical(hbsc_2018['headache'])

In [ ]:
hbsc_2018['headache'].value_counts()

In [ ]:
hbsc_2018['headache'].isna().sum()

In [ ]:
hbsc_2018['headache'].value_counts().plot(kind='bar')

#### Stomachache: In the last 6 months: how often have you had the following....? ####

#### 1 = about every day, 2 = more once/week, 3 = about every week, 4 = about every month, 5 = rarely or never ####

In [ ]:
hbsc_2018['stomachache']

In [ ]:
hbsc_2018['stomachache'].shape

In [ ]:
hbsc_2018['stomachache'] = hbsc_2018['stomachache'].apply(pd.to_numeric, errors='coerce')

In [ ]:
#hbsc_2018['stomachache']= pd.Categorical(hbsc_2018['stomachache'])

In [ ]:
hbsc_2018['stomachache'].value_counts()

In [ ]:
hbsc_2018['stomachache'].isna().sum()

In [ ]:
hbsc_2018['stomachache'].value_counts().plot(kind='bar')

#### Back ache: In the last 6 months: how often have you had the following....? ####

#### 1 = about every day, 2 = more once/week, 3 = about every week, 4 = about every month, 5 = rarely or never ####

In [ ]:
hbsc_2018['backache'].describe()

In [ ]:
hbsc_2018['backache'] = hbsc_2018['backache'].apply(pd.to_numeric, errors='coerce')

In [ ]:
#hbsc_2018['backache']= pd.Categorical(hbsc_2018['backache'])

In [ ]:
hbsc_2018['backache'].value_counts()

In [ ]:
hbsc_2018['backache'].isna().sum()

In [ ]:
hbsc_2018['backache'].value_counts().plot(kind='bar')

#### Feeling low: In the last 6 months: how often have you had the following....? ####

#### 1 = about every day, 2 = more once/week, 3 = about every week, 4 = about every month, 5 = rarely or never ####

In [ ]:
hbsc_2018['feellow'].describe()

In [ ]:
hbsc_2018['feellow'] = hbsc_2018['feellow'].apply(pd.to_numeric, errors='coerce')

In [ ]:
#hbsc_2018['feellow']= pd.Categorical(hbsc_2018['feellow'])

In [ ]:
hbsc_2018['feellow'].value_counts()

In [ ]:
hbsc_2018['feellow'].isna().sum()

In [ ]:
hbsc_2018['feellow'].value_counts().plot(kind='bar')

#### Irritability or bad temper: In the last 6 months: how often have you had the following....? ####

#### 1 = about every day, 2 = more once/week, 3 = about every week, 4 = about every month, 5 = rarely or never ####

In [ ]:
hbsc_2018['irritable'].describe()

In [ ]:
hbsc_2018['irritable'] = hbsc_2018['irritable'].apply(pd.to_numeric, errors='coerce')

In [ ]:
#hbsc_2018['irritable']= pd.Categorical(hbsc_2018['irritable'])

In [ ]:
hbsc_2018['irritable'].value_counts()

In [ ]:
hbsc_2018['irritable'].isna().sum()

#### Feeling nervous: In the last 6 months: how often have you had the following....? ####

#### 1 = about every day, 2 = more once/week, 3 = about every week, 4 = about every month, 5 = rarely or never ####

In [ ]:
hbsc_2018['nervous'].describe()

In [ ]:
hbsc_2018['nervous'] = hbsc_2018['nervous'].apply(pd.to_numeric, errors='coerce')

In [ ]:
#hbsc_2018['nervous']= pd.Categorical(hbsc_2018['nervous'])

In [ ]:
hbsc_2018['nervous'].value_counts()

In [ ]:
hbsc_2018['nervous'].isna().sum()

#### Difficulties in sleeping: In the last 6 months: how often have you had the following....? ####

#### 1 = about every day, 2 = more once/week, 3 = about every week, 4 = about every month, 5 = rarely or never ####

In [ ]:
hbsc_2018['sleepdificulty'].describe()

In [ ]:
hbsc_2018['sleepdificulty'] = hbsc_2018['sleepdificulty'].apply(pd.to_numeric, errors='coerce')

In [ ]:
#hbsc_2018['sleepdificulty']= pd.Categorical(hbsc_2018['sleepdificulty'])

In [ ]:
hbsc_2018['sleepdificulty'].value_counts()

In [ ]:
hbsc_2018['sleepdificulty'].isna().sum()

#### Feeling dizzy: In the last 6 months: how often have you had the following....? ####

#### 1 = about every day, 2 = more once/week, 3 = about every week, 4 = about every month, 5 = rarely or never ####

In [ ]:
hbsc_2018['dizzy'].describe()

In [ ]:
hbsc_2018['dizzy'] = hbsc_2018['dizzy'].apply(pd.to_numeric, errors='coerce')

In [ ]:
#hbsc_2018['dizzy']= pd.Categorical(hbsc_2018['dizzy'])

In [ ]:
hbsc_2018['dizzy'].isna().sum()

#### Thinking about body: In the last 6 months? ####

#### 1 = much too thin, 2 = bit to thin, 3 = about right, 4 = a bit too fat, 5 = much too fat ####

In [ ]:
hbsc_2018['thinkbody'].describe()

In [ ]:
hbsc_2018['thinkbody'] = hbsc_2018['thinkbody'].apply(pd.to_numeric, errors='coerce')

In [ ]:
#hbsc_2018['thinkbody']= pd.Categorical(hbsc_2018['thinkbody'])

In [ ]:
hbsc_2018['thinkbody'].isna().sum()

### Health-behavior related variables ###

####  Physical activity past 7 days: Over the past 7 days , on how many days were you physically active for a total of at least 60 minutes per day? ####

In [ ]:
hbsc_2018['physact60'].describe()

In [ ]:
hbsc_2018['physact60'] = hbsc_2018['physact60'].apply(pd.to_numeric, errors='coerce')

In [ ]:
#hbsc_2018['physact60']= pd.Categorical(hbsc_2018['physact60'])

In [ ]:
hbsc_2018['physact60'].value_counts()

In [ ]:
hbsc_2018['physact60'].isna().sum()

####  Vigorous physical activity frequency: Outside school hours: how often do you usually exercise in your free time so much that you get out of breath or sweat? ####

#### 1=every day, 2=4-6 times a week, 3= 2-3-times a week, 4= once a week, 5= once a month, 6= less than one a month, 7 = never ####

In [ ]:
hbsc_2018['timeexe'].describe()

In [ ]:
hbsc_2018['timeexe'] = hbsc_2018['timeexe'].apply(pd.to_numeric, errors='coerce')

In [ ]:
#hbsc_2018['timeexe']= pd.Categorical(hbsc_2018['timeexe'])

In [ ]:
hbsc_2018['timeexe'].isna().sum()

#### Days smoked in lifetime: On how many days (if any) have you smoked cigarettes? ####

#### 1=never, 2= 1-2 days, 3= 3-5 days, 4= 6-9 days, 5= 10-19 days, 6= 20-29 days, 7 = 30 days or more ####

In [ ]:
hbsc_2018['smokltm'].describe()

In [ ]:
import numpy as np

In [ ]:
hbsc_2018['smokltm'] = hbsc_2018['smokltm'].apply(pd.to_numeric, errors='coerce')

In [ ]:
hbsc_2018['smokltm'] = hbsc_2018['smokltm'].replace(-99.0, np.NaN)

In [ ]:
hbsc_2018['smokltm'].value_counts()

In [ ]:
#hbsc_2018['smokltm']= pd.Categorical(hbsc_2018['smokltm'])

In [ ]:
hbsc_2018['smokltm'].isna().sum()

In [ ]:
hbsc_2018['smokltm'].describe()

In [ ]:
hbsc_2018['smokltm'].dtype

In [ ]:
hbsc_2018.info()

#### Days smoked last 30 days ####

#### 1=never, 2= 1-2 days, 3= 3-5 days, 4= 6-9 days, 5= 10-19 days, 6= 20-29 days, 7 = 30 days or more ####

In [ ]:
hbsc_2018['smok30d_2'].describe()

In [ ]:
hbsc_2018['smok30d_2'] = hbsc_2018['smok30d_2'].apply(pd.to_numeric, errors='coerce')

In [ ]:
hbsc_2018['smok30d_2'].value_counts()

In [ ]:
#hbsc_2018['smok30d_2']= pd.Categorical(hbsc_2018['smok30d_2'])

In [ ]:
hbsc_2018['smok30d_2'].isna().sum()

#### Alcohol use in lifetime ####

#### 1=never, 2= 1-2 days, 3= 3-5 days, 4= 6-9 days, 5= 10-19 days, 6= 20-29 days, 7 = 30 days or more ####

In [ ]:
hbsc_2018['alcltm'].describe()

In [ ]:
hbsc_2018['alcltm'] = hbsc_2018['alcltm'].apply(pd.to_numeric, errors='coerce')

In [ ]:
hbsc_2018['alcltm'] = hbsc_2018['alcltm'].replace(-99.0, np.NaN)

In [ ]:
hbsc_2018['alcltm'].value_counts()

In [ ]:
#hbsc_2018['alcltm']= pd.Categorical(hbsc_2018['alcltm'])

In [ ]:
hbsc_2018['alcltm'].isna().sum()

####  Alcohol use last 30 days ####

#### 1=never, 2= 1-2 days, 3= 3-5 days, 4= 6-9 days, 5= 10-19 days, 6= 20-29 days, 7 = 30 days or more ####

In [ ]:
hbsc_2018['alc30d_2'].describe()

In [ ]:
hbsc_2018['alc30d_2'].info()

In [ ]:
hbsc_2018['alc30d_2'] = hbsc_2018['alc30d_2'].apply(pd.to_numeric, errors='coerce')

In [ ]:
hbsc_2018['alc30d_2'].unique()

In [ ]:
#hbsc_2018['alc30d_2']= pd.Categorical(hbsc_2018['alc30d_2'])

In [ ]:
hbsc_2018['alc30d_2'].value_counts()

In [ ]:
hbsc_2018['alc30d_2'].isna().sum()

#### Body Weight & Body Height: How much do you weigh without clothes (kg)? How tall are you without shoes? (cm) ####

In [ ]:
hbsc_2018['bodyweight'].info()

In [ ]:
hbsc_2018['bodyweight'].isna().sum()

In [ ]:
hbsc_2018['bodyheight'].describe()

In [ ]:
hbsc_2018['bodyheight'].isna().sum()

#### function to transfor all school variables into categories ####

In [ ]:
#variables_to_transform = ['likeschool', 'schoolpressure', 'studaccept', 'teacheraccept', 'bulliedothers', 'beenbullied']

#for var in variables_to_transform:
    #hbsc_2018[var] = pd.Categorical(hbsc_2018[var])

#### Liking school: how do you feel about school at present? 1=Like alot, 2=Like a bit, 3= not very much, 4= not at all ####

In [ ]:
hbsc_2018['likeschool'].isna().sum()

#### School pressure: how pressured do you feel by the schoolwork you have?? 1=not at all, 4= a lot ####

In [ ]:
hbsc_2018['schoolpressure'].isna().sum()

#### Social media use, 99 = missing due to ski pattern ####

In [ ]:
transform = ['emcsocmed1', 'emcsocmed2', 'emcsocmed3', 'emcsocmed4', 'emcsocmed5', 'emcsocmed6', 'emcsocmed7', 'emcsocmed8', 'emcsocmed9']

In [ ]:
for var in transform:

    hbsc_2018[var].replace(99.0, np.NaN, inplace = True)

In [ ]:
hbsc_2018['emcsocmed6'].value_counts()

In [ ]:
hbsc_2018.info()

#### Function to convert family and social media variables into categories ####

In [ ]:
#variables_to_transform = [ 'emcsocmed1', 'emcsocmed2', 'emcsocmed3', 'emcsocmed4', 'emcsocmed5', 'emcsocmed6', 'emcsocmed7', 'emcsocmed8', 'emcsocmed9','employmo', 'employfa', 'employnotfa', 'employnotmo', 'MBMI', 'IRRELFAS_LMH']

#for var in variables_to_transform:
    #hbsc_2018[var] = pd.Categorical(hbsc_2018[var])

In [ ]:
hbsc_2018.info()

#### Dropping NANs ####

In [ ]:
#hbsc_2018_clean = hbsc_2018.dropna()

In [ ]:
#hbsc_2018_clean.shape

In [ ]:
hbsc_2018['alcltm']

### transforming float variables to integers ###

In [ ]:


variables_to_transform = ['agecat', 'sex', 'health', 'lifesat', 'headache', 'stomachache', 'backache', 'feellow', 'irritable', 'nervous', 'sleepdificulty', 'dizzy', 'thinkbody', 'physact60', 'timeexe', 'smokltm', 'smok30d_2', 'alcltm', 'alc30d_2','likeschool', 'schoolpressure', 'studaccept', 'teacheraccept', 'bulliedothers', 'beenbullied', 'emcsocmed1', 'emcsocmed2', 'emcsocmed3', 'emcsocmed4', 'emcsocmed5', 'emcsocmed6', 'emcsocmed7', 'emcsocmed8', 'emcsocmed9', 'employmo', 'employfa', 'employnotfa', 'employnotmo']

for var in variables_to_transform:
    hbsc_2018[var] = hbsc_2018[var].astype('Int64')

###  data subsets ###

In [ ]:
hbsc_2018_health_clean_1 = hbsc_2018[['id4', 'age', 'agecat', 'sex', 'country_name' ]]

In [ ]:
hbsc_2018_health_clean_1.info()

In [ ]:
hbsc_2018_health_clean_2 = hbsc_2018[['id4', 'country_name', 'health', 'lifesat', 'headache', 'stomachache', 'backache']]

In [ ]:
hbsc_2018_health_clean_2.info()

In [ ]:
hbsc_2018_health_clean_3 = hbsc_2018[['id4', 'country_name', 'feellow', 'irritable', 'nervous', 'sleepdificulty', 'dizzy', 'thinkbody']] #'gender'

In [ ]:
hbsc_2018_health_clean_3.info()

In [ ]:
#filtered dataset 2

hbsc_2018_behavior_clean = hbsc_2018[['id4','country_name','physact60', 'timeexe', 'smokltm', 'smok30d_2', 'alcltm', 'alc30d_2', 'bodyweight', 'bodyheight']]

In [ ]:
hbsc_2018_behavior_clean.info()

In [ ]:
#filtered dataset 3

hbsc_2018_school_clean= hbsc_2018[['id4','country_name', 'likeschool', 'schoolpressure', 'studaccept', 'teacheraccept', 'bulliedothers', 'beenbullied']]

In [ ]:
hbsc_2018_school_clean.info()

In [ ]:
#filtered dataset 4

hbsc_2018_social_media_clean= hbsc_2018[['id4','country_name', 'emcsocmed1', 'emcsocmed2', 'emcsocmed3', 'emcsocmed4', 'emcsocmed5', 'emcsocmed6', 'emcsocmed7', 'emcsocmed8', 'emcsocmed9']]

In [ ]:
hbsc_2018_social_media_clean.info()

In [ ]:
#filtered dataset 5

hbsc_2018_par_employ_clean= hbsc_2018[['id4','country_name', 'employmo', 'employfa', 'employnotfa', 'employnotmo', 'MBMI', 'IRRELFAS_LMH' ]]

In [ ]:
hbsc_2018_par_employ_clean.info()

### Pushing the data to Postgres ###

In [ ]:
import sql_functions as sf

In [ ]:
# Import get_engine from sql_functions.py. You will need to restart your kernel and rerun at this point since we changed the module since we first imported it.

# create a variable called engine using the get_engine function

from sql_functions import get_engine
engine = get_engine()

In [ ]:
# Set the schema to your course name and the table_name variable to 'carriers_' + your initials/group number

schema = 'capstone_health_education' # your course schema name
#table_name = 'hbsc_2018_behavior_clean' #

In [ ]:
# dataframes = [hbsc_2018_health_clean_1, hbsc_2018_health_clean_2, hbsc_2018_health_clean_3, hbsc_2018_behavior_clean, hbsc_2018_par_employ_clean, hbsc_2018_social_media_clean, hbsc_2018_school_clean]

# table_names = ['hbsc_2018_health_clean_1', 'hbsc_2018_health_clean_2', 'hbsc_2018_health_clean_3', 'hbsc_2018_behavior_clean', 'hbsc_2018_par_employ_clean', 'hbsc_2018_social_media_clean', 'hbsc_2018_school_clean']

for df, table_name in zip(dataframes, table_names):
    sf.push_to_cloud(df, table_name)

In [ ]:
from sql_functions import get_engine
from sql_functions import get_dataframe
engine = get_engine

In [ ]:
# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        hbsc_2018_par_employ.to_sql(name = 'hbsc_2018_par_employ', # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema='capstone_health_education', # your class schema
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

In [ ]:
#filtered dataset 1

hbsc_2018_health = hbsc_2018[['id4','countryno', 'age', 'agecat', 'sex', 'health', 'lifesat', 'headache', 'stomachache', 'backache', 'feellow', 'irritable', 'nervous', 'sleepdificulty', 'dizzy', 'thinkbody']]