In [1]:
import pandas as pd
import numpy as np
import python_functions as pf
import warnings
warnings.filterwarnings("ignore")
import sqlalchemy
import psycopg2
import sql_functions as sf

In [2]:
# import requests
# import os
# import json
# import pandas as pd
# import time
# from dotenv import load_dotenv
# load_dotenv()

In [3]:
PISA_m = pd.read_excel('data/2000-2022_m_r.xls', sheet_name='mathematics', header=11)
PISA_r = pd.read_excel('data/2000-2022_m_r.xls', sheet_name='reading', header=11)
PISA_sc = pd.read_excel('data/2000-2022_sc.xls', sheet_name='science', header=11)

In [4]:
PISA_m = PISA_m.drop('Unnamed: 0', axis=1)
PISA_r = PISA_r.drop('Unnamed: 0', axis=1)
PISA_sc = PISA_sc.drop('Unnamed: 0', axis=1)

---

Put column names in lower case, snake case and rename:

In [5]:
dataframes = [PISA_m, PISA_r, PISA_sc]

pf.columns_lower_snake_case(dataframes)

Index(['year', 'jurisdiction', 'average', 'standard_error'], dtype='object')
------------------------------
Index(['year', 'jurisdiction', 'average', 'standard_error'], dtype='object')
------------------------------
Index(['year', 'jurisdiction', 'average', 'standard_error'], dtype='object')
------------------------------

[                                                  year
 0                                                 2022  \
 1                                                 2022
 2                                                 2022
 3                                                 2022
 4                                                 2022
 ..                                                 ...
 785                     ‡ Reporting standards not met.
 786                                   — Not available.
 787                                  † Not applicable.
 788  NOTE: B-S-J-G (China) refers to the four PISA ...
 789  SOURCE: Organization for Economic Cooperation ...

                              jurisdiction     average standard_error
 0    Selected countries and jurisdictions  437.628559       0.266429
 1            International Average (OECD)  472.358125       0.397751
 2                               Australia  487.084254       1.779614
 3                                 Austria  487.267499       2.337789
 4                                 Belgium  489.486817       2.202874
 ..                                    ...         ...            ...
 785                                   NaN         NaN            NaN
 786                                   NaN         NaN            NaN
 787                                   NaN         NaN            NaN
 788                                   NaN         NaN            NaN
 789                                   NaN         NaN            NaN

 [790 rows x 4 columns],
                                                   year
 0                                                 2022  \
 1                                                 2022
 2                                                 2022
 3                                                 2022
 4                                                 2022
 ..                                                 ...
 785                     ‡ Reporting standards not met.
 786                                   — Not available.
 787                                  † Not applicable.
 788  NOTE: B-S-J-G (China) refers to the four PISA ...
 789  SOURCE: Organization for Economic Cooperation ...

                              jurisdiction     average standard_error
 0    Selected countries and jurisdictions  435.037917       0.295268
 1            International Average (OECD)  475.588873       0.452402
 2                               Australia   498.05094       2.013591
 3                                 Austria  480.405847       2.668254
 4                                 Belgium  478.852668       2.523596
 ..                                    ...         ...            ...
 785                                   NaN         NaN            NaN
 786                                   NaN         NaN            NaN
 787                                   NaN         NaN            NaN
 788                                   NaN         NaN            NaN
 789                                   NaN         NaN            NaN

 [790 rows x 4 columns],
                                                   year
 0                                                 2022  \
 1                                                 2022
 2                                                 2022
 3                                                 2022
 4                                                 2022
 ..                                                 ...
 785                     ‡ Reporting standards not met.
 786                                   — Not available.
 787                                  † Not applicable.
 788  NOTE: B-S-J-G (China) refers to the four PISA ...
 789  SOURCE: Organization for Economic Cooperation ...

                              jurisdiction     average standard_error
 0    Selected countries and jurisdictions  446.893945       0.282993
 1            International Average (OECD)  484.646614       0.435314
 2                               Australia  507.000869       1.933076
 3                                 Austria  491.270959       2.650135
 4                                 Belgium  490.578346       2.481873
 ..                                    ...         ...            ...
 785                                   NaN         NaN            NaN
 786                                   NaN         NaN            NaN
 787                                   NaN         NaN            NaN
 788                                   NaN         NaN            NaN
 789                                   NaN         NaN            NaN

 [790 rows x 4 columns]]

In [6]:
PISA_m.sample(5)

,year,jurisdiction,average,standard_error
785,‡ Reporting standards not met.,NaN,NaN,NaN
321,2012,Netherlands,522.971758,3.471983
175,2018,North Macedonia,394.44683,1.560777
593,2003,Canada,532.486736,1.817917
241,2015,Baku (Azerbaijan),—,†

In [7]:
PISA_r.sample(5)

     year           jurisdiction     average standard_error
225  2015                 Norway  513.191173        2.50933
163  2018             Kazakhstan  386.909275       1.460522
427  2009                 Sweden  497.449423       2.879652
79   2022                 Panama  391.953355       3.414906
764  2000  Palestinian Authority           —              †

In [8]:
PISA_sc.sample(5)

     year                jurisdiction     average standard_error
356  2012                   Indonesia  381.911484       3.816907
159  2018           Hong Kong (China)   516.68613       2.543096
681  2003  Ukraine (18 of 27 Regions)           —              †
184  2018                Saudi Arabia  386.246145       2.839903
60   2022                   Guatemala  372.962754        2.23028

---

Create new DataFrames, for each subject and year one DataFrame:

In [9]:
years = ['2000', '2003', '2006', '2009', '2012', '2015', '2018', '2022']

# Create a new list to safe the new DataFrames
new_dataframes = []

# Iterate over every year
for year in years:
    # Filter the row for every DataFrame for each year
    PISA_m_year = PISA_m[PISA_m['year'] == year].copy()
    PISA_r_year = PISA_r[PISA_r['year'] == year].copy()
    PISA_sc_year = PISA_sc[PISA_sc['year'] == year].copy()
    
    # Add the new DataFrames to the list
    new_dataframes.extend([PISA_m_year, PISA_r_year, PISA_sc_year])

# Save the newly created DataFrames in new Variables
PISA_m_2000, PISA_r_2000, PISA_sc_2000 = new_dataframes[:3]
PISA_m_2003, PISA_r_2003, PISA_sc_2003 = new_dataframes[3:6]
PISA_m_2006, PISA_r_2006, PISA_sc_2006 = new_dataframes[6:9]
PISA_m_2009, PISA_r_2009, PISA_sc_2009 = new_dataframes[9:12]
PISA_m_2012, PISA_r_2012, PISA_sc_2012 = new_dataframes[12:15]
PISA_m_2015, PISA_r_2015, PISA_sc_2015 = new_dataframes[15:18]
PISA_m_2018, PISA_r_2018, PISA_sc_2018 = new_dataframes[18:21]
PISA_m_2022, PISA_r_2022, PISA_sc_2022 = new_dataframes[21:]

In [10]:
dataframes = [PISA_m_2000, PISA_r_2000, PISA_sc_2000,
              PISA_m_2003, PISA_r_2003, PISA_sc_2003,
              PISA_m_2006, PISA_r_2006, PISA_sc_2006,
              PISA_m_2009, PISA_r_2009, PISA_sc_2009,
              PISA_m_2012, PISA_r_2012, PISA_sc_2012,
              PISA_m_2015, PISA_r_2015, PISA_sc_2015,
              PISA_m_2018, PISA_r_2018, PISA_sc_2018,
              PISA_m_2022, PISA_r_2022, PISA_sc_2022]

for df in dataframes:
    df.reset_index(inplace=True, drop=True)

Check that only one year is saved in each DataFrame:

In [11]:
print(PISA_m_2000['year'].unique(), 
      PISA_m_2003['year'].unique(), 
      PISA_m_2006['year'].unique(), 
      PISA_m_2009['year'].unique(), 
      PISA_m_2012['year'].unique(), 
      PISA_m_2015['year'].unique(), 
      PISA_m_2018['year'].unique(), 
      PISA_m_2022['year'].unique())

['2000'] ['2003'] ['2006'] ['2009'] ['2012'] ['2015'] ['2018'] ['2022']

In [12]:
print(PISA_r_2000['year'].unique(),
    PISA_r_2003['year'].unique(),
    PISA_r_2006['year'].unique(),
    PISA_r_2009['year'].unique(),
    PISA_r_2012['year'].unique(),
    PISA_r_2015['year'].unique(),
    PISA_r_2018['year'].unique(),
    PISA_r_2022['year'].unique())

['2000'] ['2003'] ['2006'] ['2009'] ['2012'] ['2015'] ['2018'] ['2022']

In [13]:
print(PISA_sc_2000['year'].unique(),
    PISA_sc_2003['year'].unique(),
    PISA_sc_2006['year'].unique(),
    PISA_sc_2009['year'].unique(),
    PISA_sc_2012['year'].unique(),
    PISA_sc_2015['year'].unique(),
    PISA_sc_2018['year'].unique(),
    PISA_sc_2022['year'].unique())

['2000'] ['2003'] ['2006'] ['2009'] ['2012'] ['2015'] ['2018'] ['2022']

---

Change the types for two columns and round the numbers:

In [14]:
PISA_m_2006.head(10)

   year                          jurisdiction     average standard_error
0  2006  Selected countries and jurisdictions   471.51885       0.447079
1  2006          International Average (OECD)  490.407608       0.497568
2  2006                             Australia  519.907749       2.240618
3  2006                               Austria  505.483598       3.737765
4  2006                               Belgium  520.348973       2.954633
5  2006                                Canada  527.007179       1.966896
6  2006                                 Chile  411.350339        4.58136
7  2006                              Colombia  369.978514       3.783369
8  2006                            Costa Rica           —              †
9  2006                        Czech Republic  509.859359       3.551094

In [15]:
# dataframes = [PISA_m_2000, PISA_r_2000, PISA_sc_2000,
#               PISA_m_2003, PISA_r_2003, PISA_sc_2003,
#               PISA_m_2006, PISA_r_2006, PISA_sc_2006,
#               PISA_m_2009, PISA_r_2009, PISA_sc_2009,
#               PISA_m_2012, PISA_r_2012, PISA_sc_2012,
#               PISA_m_2015, PISA_r_2015, PISA_sc_2015,
#               PISA_m_2018, PISA_r_2018, PISA_sc_2018,
#               PISA_m_2022, PISA_r_2022, PISA_sc_2022]

# for df in dataframes:
#     df['average'] = df['average'].astype(str).replace({'—': np.nan, '‡': np.nan, '†': np.nan})
#     df['average'] = df['average'].astype(float)
#     df['average'] = df['average'].round(2)

#     df['standard_error'] = df['standard_error'].astype(str).replace({'—': np.nan, '‡': np.nan, '†': np.nan})
#     df['standard_error'] = df['standard_error'].astype(float)
#     df['standard_error'] = df['standard_error'].round(2)

In [16]:
dataframes = [PISA_m_2000, PISA_r_2000, PISA_sc_2000,
              PISA_m_2003, PISA_r_2003, PISA_sc_2003,
              PISA_m_2006, PISA_r_2006, PISA_sc_2006,
              PISA_m_2009, PISA_r_2009, PISA_sc_2009,
              PISA_m_2012, PISA_r_2012, PISA_sc_2012,
              PISA_m_2015, PISA_r_2015, PISA_sc_2015,
              PISA_m_2018, PISA_r_2018, PISA_sc_2018,
              PISA_m_2022, PISA_r_2022, PISA_sc_2022]

for df in dataframes:
    df['average'] = df['average'].apply(pd.to_numeric, errors='coerce')
    df['average'] = df['average'].round(2)

    df['standard_error'] = df['standard_error'].apply(pd.to_numeric, errors='coerce')
    df['standard_error'] = df['standard_error'].round(2)

In [17]:
df['average'] = df['average'].astype('str')
df['average'] = df['average'].str.replace('-', '0')
df['average'] = df['average'].astype

In [18]:
PISA_m_2006.sample(5)

    year                  jurisdiction  average  standard_error
36  2006                   Switzerland   529.66            3.15
41  2006                Albania (2015)      NaN             NaN
44  2006              Argentina (2015)      NaN             NaN
1   2006  International Average (OECD)   490.41            0.50
57  2006            Dominican Republic      NaN             NaN

---

Write the DataFrames to the database:

In [19]:
sf.get_engine()

Engine(postgresql://user:***@host/database)

In [20]:
dataframes = [PISA_m_2000, PISA_r_2000, PISA_sc_2000] #,
            #   PISA_m_2003, PISA_r_2003, PISA_sc_2003,
            #   PISA_m_2006, PISA_r_2006, PISA_sc_2006,
            #   PISA_m_2009, PISA_r_2009, PISA_sc_2009,
            #   PISA_m_2012, PISA_r_2012, PISA_sc_2012,
            #   PISA_m_2015, PISA_r_2015, PISA_sc_2015,
            #   PISA_m_2018, PISA_r_2018, PISA_sc_2018,
            #   PISA_m_2022, PISA_r_2022, PISA_sc_2022]

table_names = ['PISA_m_2000', 'PISA_r_2000', 'PISA_sc_2000']# ,
            #   'PISA_m_2003', 'PISA_r_2003', 'PISA_sc_2003',
            #   'PISA_m_2006', 'PISA_r_2006', 'PISA_sc_2006',
            #   'PISA_m_2009', 'PISA_r_2009', 'PISA_sc_2009',
            #   'PISA_m_2012', 'PISA_r_2012', 'PISA_sc_2012',
            #   'PISA_m_2015', 'PISA_r_2015', 'PISA_sc_2015',
            #   'PISA_m_2018', 'PISA_r_2018', 'PISA_sc_2018',
            #   'PISA_m_2022', 'PISA_r_2022', 'PISA_sc_2022']

for df, table_name in zip(dataframes, table_names):
    sf.push_to_cloud(df, table_name)

The PISA_m_2000 table was imported successfully.
The PISA_r_2000 table was imported successfully.
The PISA_sc_2000 table was imported successfully.

In [25]:
blub = {'val1': 'str1',
        'val2': 'str2',
        'val3': 'str3'}

for df, table_name in blub.items():
    print(df, table_name)

val1 str1
val2 str2
val3 str3