In [ ]:
import pandas as pd
import sqlalchemy
import psycopg2
import sql_functions as sf

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")

In [ ]:
# define the schema in the database
schema = 'capstone_health_education'

In [ ]:
pd.set_option('display.max_colwidth', None)

In [ ]:
# import the tables as dataframes
SYB66_labor_unemployment = sf.get_dataframe(f'SELECT * FROM {schema}. "SYB66_labor_unemployment"')
SYB66_education = sf.get_dataframe(f'SELECT * FROM {schema}. "SYB66_education"')
SYB66_Population_Surface_Area_Density = sf.get_dataframe(f'SELECT * FROM {schema}. "SYB66_Population_Surface_Area_Density"')
SYB66_Expenditure_on_health = sf.get_dataframe(f'SELECT * FROM {schema}. "SYB66_Expenditure_on_health"')
SYB66_Public_expenditure_on_education = sf.get_dataframe(f'SELECT * FROM {schema}. "SYB66_Public_expenditure_on_education"')

In [ ]:
SYB66_labor_unemployment.head(3)

In [ ]:
#SYB66_Population_Surface_Area_Density.rename(columns=SYB66_Population_Surface_Area_Density.iloc[0]).drop(SYB66_Population_Surface_Area_Density.index[0])

In [ ]:
dfs = [SYB66_education, SYB66_labor_unemployment, SYB66_Population_Surface_Area_Density, SYB66_Expenditure_on_health, SYB66_Public_expenditure_on_education]

for df in dfs:
    df.rename(columns=df.iloc[0], inplace=True)
    df.drop(df.index[0], inplace=True)
    df.reset_index(drop=True, inplace=True)

In [ ]:
SYB66_education.head(3)

In [ ]:
SYB66_Population_Surface_Area_Density.head(3)

In [ ]:
SYB66_Expenditure_on_health.head(3)

In [ ]:
SYB66_Public_expenditure_on_education.head(3)

In [ ]:
dfs = [SYB66_education, SYB66_labor_unemployment, SYB66_Population_Surface_Area_Density, SYB66_Expenditure_on_health, SYB66_Public_expenditure_on_education]

for df in dfs:
    print(df.info())
    print('-'*60)

In [ ]:
dfs = [SYB66_education, SYB66_labor_unemployment, SYB66_Population_Surface_Area_Density, SYB66_Expenditure_on_health, SYB66_Public_expenditure_on_education]

for df in dfs:
    df = df.drop(['Footnotes', 'Source'], axis=1, inplace=True)

In [ ]:
dfs = [SYB66_education, SYB66_labor_unemployment, SYB66_Population_Surface_Area_Density, SYB66_Expenditure_on_health, SYB66_Public_expenditure_on_education]

for df in dfs:
    print(df['Series'].unique())
    print('-'*60)

In [ ]:
SYB66_education.iloc[:,1].unique()

In [ ]:
dfs = [SYB66_education, SYB66_labor_unemployment, SYB66_Population_Surface_Area_Density, SYB66_Expenditure_on_health, SYB66_Public_expenditure_on_education]

for df in dfs:
    df.columns = ['country_code', 'country', 'year','indicator', 'value']

In [ ]:
dfs = [SYB66_education, SYB66_labor_unemployment, SYB66_Population_Surface_Area_Density, SYB66_Expenditure_on_health, SYB66_Public_expenditure_on_education]

for df in dfs:
    print(df['indicator'].unique())
    print('-'*60)

In [ ]:
dfs = [SYB66_education, SYB66_labor_unemployment, SYB66_Population_Surface_Area_Density, SYB66_Expenditure_on_health, SYB66_Public_expenditure_on_education]

for df in dfs:
    print(df.info())
    print('-'*60)

In [ ]:
# push to cloud
dataframes = {'syb_education_filtered': SYB66_education,
    'syb_labor_unemployment_filtered': SYB66_labor_unemployment,
    'syb_population_surface_area_density_filtered': SYB66_Population_Surface_Area_Density,
    'syb_expenditure_on_health_filtered': SYB66_Expenditure_on_health,
    'syb_public_expenditure_on_education_filtered': SYB66_Public_expenditure_on_education}

for table_name, df in dataframes.items():
    sf.push_to_cloud(df, table_name)